workflows/2KiLK3UqcH5RAAMg_correos_automatizados.json
{
  "createdAt": "2025-10-08T20:06:02.168Z",
  "updatedAt": "2025-10-11T00:53:14.000Z",
  "id": "2KiLK3UqcH5RAAMg",
  "name": "Correos automatizados",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "estado-email",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -480,
        -816
      ],
      "id": "a9a721ab-35e3-4d24-a76f-838b36efcabe",
      "name": "Revisar el estado de Email",
      "webhookId": "90605e6e-107b-4387-b53e-ea9e86327a1a",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4d3725de-e4ee-4e5a-b47e-b5ea317d6b48",
                    "leftValue": "={{ $json.body.event.value.label.text }}",
                    "rightValue": "=Enviar primer correo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Enviar primer correo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6bbb8c5a-5130-40a6-80ea-4c0c892064a4",
                    "leftValue": "={{ $json.body.event.value.label.text }}",
                    "rightValue": "Seguimiento en curso",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Seguimiento en curso"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        48,
        -192
      ],
      "id": "07290fe2-d9ba-4579-9bcd-8d2293e49105",
      "name": "Estado de Email"
    },
    {
      "parameters": {
        "fromEmail": "soporte@interprika.com",
        "toEmail": "={{ $json.Email }}",
        "subject": "=驴Cu谩ndo podemos grabar el tour virtual360en {{ $json.Nombre }}?",
        "emailFormat": "text",
        "text": "=Buenos d铆as {{ $json['Contact Venue'] }},\n\nNos ponemos en contacto contigo para que puedas programar fecha para la grabaci贸n del Tour Virtual 360潞 para tu escaparate en Bodas.com.mx  Cientos de empresas ya disfrutan de los beneficios de esta innovadora herramienta y las parejas ya han podido visitar los salones y jardines de numerosos espacios desde cualquier dispositivo sin tener que desplazarse, 隆as铆 que no esperes m谩s y agenda tu grabaci贸n cuanto antes!\n\n Puedes contactarnos directamente por WhatsApp para definir la fecha que mejor te funcione. {{ $json['Whatsapp Contacto'] }}\n\nCon el fin de garantizar un servicio de calidad, te recordamos las condiciones para llevar a cabo el servicio:\n\nLa grabaci贸n se llevar谩 a cabo en 4 horas.\n\nEs muy recomendable que decores tu espacio para que los novios puedan imaginar c贸mo ser谩 su boda en tu espacio.\n\nEs imprescindible que no haya personal ni invitados en el lugar en el que el t茅cnico est茅 grabando.\n\nAqu铆 tienes algunos ejemplos para que puedas obtener ideas:\nhttps://my.matterport.com/show/?m=aH9eAFJyJri&play=1&hl=2&lang=es&brand=0&title=0&vr=0\n\nQuedamos a la espera de tus indicaciones.\nCualquier duda, tambi茅n puedes comunicarte al 477-254-0469.\n\nUncordialsaludo,",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1296,
        -352
      ],
      "id": "d1cdfe73-5506-4bf5-a64e-f09d7dd038d0",
      "name": "Mandar primer correo",
      "webhookId": "5daecd60-2146-4151-8348-e9889cd80a45",
      "credentials": {
        "smtp": {
          "id": "GhyliWIO0PYy31Mj",
          "name": "SMTP account Zoho Mail"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1520853d-6c4c-4030-8ef2-a6f2ac91d20d",
              "leftValue": "={{ $json.body.challenge }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -256,
        -816
      ],
      "id": "d2ab6987-cf56-4c94-9cc4-fbe5816e73d7",
      "name": "If",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"challenge\": \"{{ $json.body.challenge }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        48,
        -832
      ],
      "id": "ad98eb84-ddfb-44fd-a44c-a816a057248c",
      "name": "Respond to Webhook",
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "boardItem",
        "operation": "get",
        "itemId": "={{ $('Obtenci贸n de Item ID').item.json['Item ID'] }}"
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        640,
        -352
      ],
      "id": "209ef800-fc36-48f9-9f10-e19658aa2abd",
      "name": "Get an item",
      "credentials": {
        "mondayComOAuth2Api": {
          "id": "dE8g2W2GVOjXMeZt",
          "name": "Monday.com account majonb@interprika.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c5efab53-26bc-4f93-8d77-f0c89abb76dd",
              "name": "Item ID",
              "value": "={{ $json.body.event.pulseId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        -352
      ],
      "id": "481eb318-e599-4339-86a9-fa9a35be4883",
      "name": "Obtenci贸n de Item ID"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4bf8ca5b-1f12-4771-8f3c-a6f6086ac043",
              "name": "Nombre",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "0e07fea4-4c64-4140-80c9-71e782154394",
              "name": "Fecha de Agenda",
              "value": "={{ $json.column_values[0] }}",
              "type": "object"
            },
            {
              "id": "d8dc4bab-774f-4d64-b621-c001c6ff3abf",
              "name": "ID Venue",
              "value": "={{ $json.column_values[1] }}",
              "type": "object"
            },
            {
              "id": "c1f12d64-e508-44b3-8456-41c5fdce8834",
              "name": "Estado del proceso",
              "value": "={{ $json.column_values[2] }}",
              "type": "object"
            },
            {
              "id": "307f7dcf-9767-4a0b-94df-2f2c18882c98",
              "name": "Direcci贸n",
              "value": "={{ $json.column_values[3] }}",
              "type": "object"
            },
            {
              "id": "ee84c909-7b65-4fb6-b1bf-59a528adc054",
              "name": "Tel茅fono",
              "value": "={{ $json.column_values[4] }}",
              "type": "object"
            },
            {
              "id": "7b64bc5b-8c9e-48bb-a61e-f84c13e2b73f",
              "name": "M贸vil",
              "value": "={{ $json.column_values[5] }}",
              "type": "object"
            },
            {
              "id": "916df879-74f7-40ba-866b-2cb7894289ec",
              "name": "Contact Venue",
              "value": "={{ $json.column_values[6] }}",
              "type": "object"
            },
            {
              "id": "e5826049-a211-45d3-87e2-162bc42493b4",
              "name": "Email",
              "value": "={{ $json.column_values[7] }}",
              "type": "object"
            },
            {
              "id": "1511e7e9-8c51-4d33-aa37-0fca1ceefa88",
              "name": "URL Bodas",
              "value": "={{ $json.column_values[8] }}",
              "type": "object"
            },
            {
              "id": "419b8b70-8c40-4401-bb97-ce61f2b00d4a",
              "name": "Ciudad (Weather)",
              "value": "={{ $json.column_values[9] }}",
              "type": "object"
            },
            {
              "id": "ac82dc52-8463-43c5-b5c3-66d19b07e743",
              "name": "Fecha Fin de Contrato",
              "value": "={{ $json.column_values[10] }}",
              "type": "object"
            },
            {
              "id": "fbc79239-7768-48ee-9788-ed1f1037c522",
              "name": "End Contract RW",
              "value": "={{ $json.column_values[11] }}",
              "type": "object"
            },
            {
              "id": "09224452-cf35-4f66-8ce7-b1daff5777d1",
              "name": "Renovaci贸n de Contrato",
              "value": "={{ $json.column_values[12] }}",
              "type": "object"
            },
            {
              "id": "329d04dc-06db-4964-a977-10afffde679a",
              "name": "Estatus",
              "value": "={{ $json.column_values[13] }}",
              "type": "object"
            },
            {
              "id": "c9be0ce8-f846-4cf2-abe4-2cfeb9b822a3",
              "name": "Producto",
              "value": "={{ $json.column_values[14] }}",
              "type": "object"
            },
            {
              "id": "c8f94c95-4580-455b-ae76-ccc3a28c32de",
              "name": "Emails",
              "value": "={{ $json.column_values[15] }}",
              "type": "object"
            },
            {
              "id": "8b5380e0-3d94-4457-838c-377b03584e43",
              "name": "Llamadas",
              "value": "={{ $json.column_values[16] }}",
              "type": "object"
            },
            {
              "id": "7217f484-2182-43db-84fb-af193881919c",
              "name": "Whatsapp",
              "value": "={{ $json.column_values[17] }}",
              "type": "object"
            },
            {
              "id": "d014aa87-7178-4218-8806-e1c047f86677",
              "name": "Interes de cliente",
              "value": "={{ $json.column_values[18] }}",
              "type": "object"
            },
            {
              "id": "53e45395-718c-4bcc-8065-065f3f92c1db",
              "name": "Anulaciones",
              "value": "={{ $json.column_values[19] }}",
              "type": "object"
            },
            {
              "id": "67bf87e2-18bd-4a24-84b0-d273cd10f6bf",
              "name": "Comentario Comercial",
              "value": "={{ $json.column_values[20] }}",
              "type": "object"
            },
            {
              "id": "1ba9689d-7647-43a8-b38d-7c46db5aa68e",
              "name": "Automat",
              "value": "={{ $json.column_values[21] }}",
              "type": "object"
            },
            {
              "id": "a1cc9048-6592-4e15-b3e4-0e5f764d4819",
              "name": "Fecha de la cita",
              "value": "={{ $json.column_values[22] }}",
              "type": "object"
            },
            {
              "id": "203fcf1b-c8ca-411d-883b-503c48122dd3",
              "name": "Viaticos",
              "value": "={{ $json.column_values[23] }}",
              "type": "object"
            },
            {
              "id": "b7d3f200-d555-49cb-9f7a-cde6e81ce3fa",
              "name": "Hora",
              "value": "={{ $json.column_values[24] }}",
              "type": "object"
            },
            {
              "id": "3b8956c7-ace5-4551-bfb5-47f6694bd28a",
              "name": "Estado",
              "value": "={{ $json.column_values[25] }}",
              "type": "object"
            },
            {
              "id": "43b9f80b-5d0d-4bf7-bcb5-afbb9eb8fc7e",
              "name": "T茅cnico",
              "value": "={{ $json.column_values[26] }}",
              "type": "object"
            },
            {
              "id": "cd74aaf5-f78a-473d-9bcd-d69e0079293d",
              "name": "Next Move",
              "value": "={{ $json.column_values[28] }}",
              "type": "object"
            },
            {
              "id": "57af140e-dbee-4b55-9288-ccd9971ebff6",
              "name": "Contactar Interprika",
              "value": "={{ $json.column_values[29] }}",
              "type": "object"
            },
            {
              "id": "39fc1c3a-8120-4ba1-8686-131f42890c73",
              "name": "Creaci贸n de Elemento",
              "value": "={{ $json.column_values[30] }}",
              "type": "object"
            },
            {
              "id": "2d77e390-b522-4e50-8a6b-5a7d476d2acc",
              "name": "Zona",
              "value": "={{ $json.column_values[31] }}",
              "type": "object"
            },
            {
              "id": "64c8aea8-d938-4c0b-9ebd-5c497aeaa16e",
              "name": "Item ID",
              "value": "={{ $json.column_values[32] }}",
              "type": "object"
            },
            {
              "id": "ec393a59-b153-4906-b43f-a35a58946b60",
              "name": "Last Updated",
              "value": "={{ $json.column_values[33] }}",
              "type": "object"
            },
            {
              "id": "1d0ea039-5665-45f4-a99d-df7fe0d3100f",
              "name": "Estado WhatsApp",
              "value": "={{ $json.column_values[34] }}",
              "type": "object"
            },
            {
              "id": "4ff50e0a-e22f-438b-b685-c77cacce1353",
              "name": "Estado Email",
              "value": "={{ $json.column_values[35] }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        -352
      ],
      "id": "d1c670d1-8834-4cff-baa9-6f470bab67ad",
      "name": "Mapeando columnas Monday"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "056aa1eb-4b1f-48dd-a24b-aece6fe53de8",
              "name": "Nombre",
              "value": "={{ $json.Nombre }}",
              "type": "string"
            },
            {
              "id": "d5d6a9cf-1fe9-47e7-b3f2-778d470fb3d5",
              "name": "=Fecha de agenda",
              "value": "={{ $json['Fecha de Agenda'].text }}",
              "type": "string"
            },
            {
              "id": "3fcd4e7d-3f1e-44c3-85f0-ce1f2a606a9a",
              "name": "ID Venue",
              "value": "={{ $json['ID Venue'].text }}",
              "type": "string"
            },
            {
              "id": "5d0d89fc-46ae-47b3-941a-61489c37949a",
              "name": "Estado del proceso",
              "value": "={{ $json['Estado del proceso'].text }}",
              "type": "string"
            },
            {
              "id": "3f1c62e6-7eb9-4c28-8e27-d5b67144eb08",
              "name": "Direcci贸n",
              "value": "={{ $json['Direcci贸n'].text }}",
              "type": "string"
            },
            {
              "id": "dfcf8559-fbd3-4038-9472-293cd91bcefc",
              "name": "Tel茅fono",
              "value": "={{ $json['Tel茅fono'].text }}",
              "type": "string"
            },
            {
              "id": "2cb6878f-e68d-4755-8ac9-bf60a4775327",
              "name": "M贸vil",
              "value": "={{ $json['M贸vil'].text }}",
              "type": "string"
            },
            {
              "id": "c30dfeb2-1113-46ab-b86a-059a3b5cefe2",
              "name": "Contact Venue",
              "value": "={{ $json['Contact Venue'].text }}",
              "type": "string"
            },
            {
              "id": "4253982b-b325-42b8-a84b-c915cf6777b6",
              "name": "Email",
              "value": "={{ $json.Email.text }}",
              "type": "string"
            },
            {
              "id": "fae0804e-ed9a-4f4f-a0f0-6f83df5016ee",
              "name": "URL Bodas",
              "value": "={{ $json['URL Bodas'].text }}",
              "type": "string"
            },
            {
              "id": "dfe49e8f-5d6a-459e-b2b1-dd44c5b2b8c7",
              "name": "Ciudad (Weather)",
              "value": "={{ $json['Ciudad (Weather)'].text }}",
              "type": "string"
            },
            {
              "id": "4d91b2b4-4513-4c87-a537-4d5f2e8517e0",
              "name": "Fecha Fin de Contrato",
              "value": "={{ $json['Fecha Fin de Contrato'].text }}",
              "type": "string"
            },
            {
              "id": "1ea183b6-b65f-4ab1-b0c6-d02452222ba1",
              "name": "End Contract RW",
              "value": "={{ $json['End Contract RW'].text }}",
              "type": "string"
            },
            {
              "id": "151ad7f5-f554-4ce3-bbec-96c5f2436ed0",
              "name": "Renovaci贸n de Contrato",
              "value": "={{ $json['Renovaci贸n de Contrato'].text }}",
              "type": "string"
            },
            {
              "id": "420cfdf6-fc63-4baa-ac6c-e70f42a77208",
              "name": "Estatus",
              "value": "={{ $json.Estatus.text }}",
              "type": "string"
            },
            {
              "id": "4886d1cf-1442-48b0-a68d-0756579e9407",
              "name": "Producto",
              "value": "={{ $json.Producto.text }}",
              "type": "string"
            },
            {
              "id": "6fc0e956-1697-4d87-b4a8-518db8b8d8f9",
              "name": "Emails",
              "value": "={{ $json.Emails.text }}",
              "type": "string"
            },
            {
              "id": "090538e8-8b17-4a00-9b73-c4d97710c3cb",
              "name": "Llamadas",
              "value": "={{ $json.Llamadas.text }}",
              "type": "string"
            },
            {
              "id": "9f737dab-b371-41ba-9268-3acc1013e1d7",
              "name": "Whatsapp",
              "value": "={{ $json.Whatsapp.text }}",
              "type": "string"
            },
            {
              "id": "98e39546-efac-41cc-8aad-4d21b9623907",
              "name": "Interes de cliente",
              "value": "={{ $json['Interes de cliente'].text }}",
              "type": "string"
            },
            {
              "id": "cf5367b0-1201-4205-ae19-c9f9e3ae6346",
              "name": "Anulaciones",
              "value": "={{ $json.Anulaciones.text }}",
              "type": "string"
            },
            {
              "id": "98fa3770-c4e7-428e-b767-9d43265947ea",
              "name": "Comentario Comercial",
              "value": "={{ $json['Comentario Comercial'].text }}",
              "type": "string"
            },
            {
              "id": "64d13949-eea2-4bc9-8ded-90f8b25a676b",
              "name": "Automat",
              "value": "={{ $json.Automat.text }}",
              "type": "string"
            },
            {
              "id": "88d9f7c9-c7a8-4e3a-b320-38117091b3c4",
              "name": "Fecha de la cita",
              "value": "={{ $json['Fecha de la cita'].text }}",
              "type": "string"
            },
            {
              "id": "130969e3-f264-4f55-a505-792de637beea",
              "name": "Viaticos",
              "value": "={{ $json.Viaticos.text }}",
              "type": "string"
            },
            {
              "id": "82632c29-ab3a-4bb3-a6b0-0ab72ca7bbcc",
              "name": "Hora",
              "value": "={{ $json.Hora.text }}",
              "type": "string"
            },
            {
              "id": "f7a4d492-f41f-46ca-a094-e29e7ccb301a",
              "name": "Estado",
              "value": "={{ $json.Estado.text }}",
              "type": "string"
            },
            {
              "id": "83315dab-a856-492d-9505-5d59bcbd7e56",
              "name": "T茅cnico",
              "value": "={{ $json['T茅cnico'].text }}",
              "type": "string"
            },
            {
              "id": "70896f24-373a-4311-8e89-8ca77aba27e3",
              "name": "Next Move",
              "value": "={{ $json['Next Move'].text }}",
              "type": "string"
            },
            {
              "id": "f97ccac3-62ae-4217-8f6a-bd4a4d378d94",
              "name": "Contactar Interprika",
              "value": "={{ $json['Contactar Interprika'].text }}",
              "type": "string"
            },
            {
              "id": "d4cf5603-1660-48ca-93af-ec9326b962ca",
              "name": "Creaci贸n de Elemento",
              "value": "={{ $json['Creaci贸n de Elemento'].text }}",
              "type": "string"
            },
            {
              "id": "38b00530-5e08-4c4e-aa40-052c940a9216",
              "name": "Zona",
              "value": "={{ $json.Zona.text }}",
              "type": "string"
            },
            {
              "id": "eafe62f2-5998-4d0a-b647-3b5141656245",
              "name": "Item ID",
              "value": "={{ $json['Item ID'].text }}",
              "type": "string"
            },
            {
              "id": "a1573f98-0230-46bd-9464-2e2337301118",
              "name": "Last Updated",
              "value": "={{ $json['Last Updated'].text }}",
              "type": "string"
            },
            {
              "id": "7759bfca-1930-408f-97d4-c0c079b49e00",
              "name": "Estado WhatsApp",
              "value": "={{ $json['Estado WhatsApp'].text }}",
              "type": "string"
            },
            {
              "id": "f66bb496-8d04-45bb-b174-a3f8b5535dd0",
              "name": "Estado Email",
              "value": "={{ $json['Estado Email'].text }}",
              "type": "string"
            },
            {
              "id": "11c6ae52-3e4a-4120-8375-59a788918279",
              "name": "Whatsapp Contacto",
              "value": "https://wa.me/5649505612",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        -320
      ],
      "id": "2a89f79d-4dad-4fff-b91f-0132493b7c7c",
      "name": "Valores de Monday"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -432,
        -208
      ],
      "id": "0565b12d-172b-49d1-818d-73505d662563",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "Revisar el estado de Email": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estado de Email": {
      "main": [
        [
          {
            "node": "Obtenci贸n de Item ID",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get an item": {
      "main": [
        [
          {
            "node": "Mapeando columnas Monday",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtenci贸n de Item ID": {
      "main": [
        [
          {
            "node": "Get an item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapeando columnas Monday": {
      "main": [
        [
          {
            "node": "Valores de Monday",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valores de Monday": {
      "main": [
        [
          {
            "node": "Mandar primer correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mandar primer correo": {
      "main": [
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Estado de Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8740f46f-2c41-4240-8739-b71b6872507e",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-10-08T20:06:02.170Z",
      "updatedAt": "2025-10-08T20:06:02.170Z",
      "role": "workflow:owner",
      "workflowId": "2KiLK3UqcH5RAAMg",
      "projectId": "0KR2Gq9Kds58xeIV"
    }
  ],
  "tags": []
}