workflows/Github Workflows Backup.json
{
  "createdAt": "2025-10-12T00:14:14.428Z",
  "updatedAt": "2025-10-13T01:02:05.000Z",
  "id": "YmdReqa7ERnBl8gs",
  "name": "Github Workflows Backup",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1552,
        496
      ],
      "id": "d5090400-7569-46e4-9849-59c9c83ebbd0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -1344,
        496
      ],
      "id": "e1f9b122-cfb1-4702-9bf4-eeb45087be39",
      "name": "Obtener los Workflows",
      "credentials": {
        "n8nApi": {
          "id": "lULdbO4YcJCeJEXd",
          "name": "n8n account - bodas.com.mx"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "workflow_data",
              "name": "workflow_json",
              "value": "={{ JSON.stringify($json, null, 2) }}",
              "type": "string"
            },
            {
              "id": "filename",
              "name": "filename",
              "value": "={{ $json.id + '_' + $json.name.replace(/[^a-z0-9]/gi, '_').toLowerCase() }}.json",
              "type": "string"
            },
            {
              "id": "902a19af-789e-430a-99e3-700d05272971",
              "name": "filepath",
              "value": "=workflows/{{ $json.id + '_' + $json.name.replace(/[^a-z0-9]/gi, '_').toLowerCase() }}.json",
              "type": "string"
            },
            {
              "id": "7d4772cd-13ab-4fe4-975f-2a9dc638777a",
              "name": "workflow_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "workflow_name",
              "name": "workflow_name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "97a826d6-02e2-4483-a40f-c7c146d98b5a",
              "name": "github_owner",
              "value": "Scampt",
              "type": "string"
            },
            {
              "id": "4a0d7d50-c458-4d9a-bc6d-c423f06016e3",
              "name": "github_repo",
              "value": "bodas.com.mx",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1120,
        496
      ],
      "id": "dab30732-e048-4043-9580-7afb9f53684e",
      "name": "Preparar Datos"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.github_owner }}/{{ $json.github_repo }}/contents/workflows",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        496
      ],
      "id": "70a028f7-a7e6-48c0-92ef-7d8e5ede1556",
      "name": "Buscar duplicado por ID",
      "credentials": {
        "httpBearerAuth": {
          "id": "qgU9cDNhzZtZ9dcM",
          "name": "Bearer Auth account - Github Token - falcony45@gmail.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Tomamos todos los workflows del nodo \"Preparar Datos\"\nconst workflows = $items(\"Preparar Datos\");\n\n// Tomamos todos los archivos del nodo \"Buscar duplicado por ID\"\nconst repoFiles = $items(\"Buscar duplicado por ID\");\n\nconst results = [];\n\nfor (const w of workflows) {\n  const wf = w.json;\n  const match = repoFiles.find(f => {\n    const name = f.json.name;\n    return name && name.startsWith(wf.workflow_id + \"_\");\n  });\n\n  if (match) {\n    results.push({\n      json: {\n        ...wf,\n        file_found: true,\n        oldFileName: match.json.name,\n        oldFilePath: match.json.path,\n        sha: match.json.sha,\n      },\n    });\n  } else {\n    results.push({\n      json: {\n        ...wf,\n        file_found: false,\n      },\n    });\n  }\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        496
      ],
      "id": "edaed499-0c0f-40b2-91a5-bdf10e2405b0",
      "name": "Filtrar duplicado por ID"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e64c02ae-7f5e-425e-bc19-6e93b647f5f7",
              "leftValue": "={{ $json.file_found }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -192,
        496
      ],
      "id": "7f15028a-e1d4-4f4e-aa91-902a34820915",
      "name": "¿Archivo existe?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ec93995f-3cc2-4d0d-b9e7-17afec1a8dcc",
              "leftValue": "={{ $json.oldFileName }}",
              "rightValue": "={{ $json.filename }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        336
      ],
      "id": "b4974584-a8a2-4641-b206-f58e6b4c5894",
      "name": "¿Nombre cambio?"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": {
          "__rl": true,
          "value": "={{ $json.github_owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.github_repo }}",
          "mode": "name"
        },
        "filePath": "={{ $json.oldFilePath }}",
        "commitMessage": "=Remove old workflow file: {{$json.workflow_name}}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        384,
        224
      ],
      "id": "4b17940a-0306-4a42-899c-014e4d1158cf",
      "name": "Eliminar archivo viejo",
      "webhookId": "a1f43d62-8d8e-48ea-a587-c51b8b8aa4ca",
      "retryOnFail": false,
      "credentials": {
        "githubApi": {
          "id": "MXicbYfLcyhoBYEO",
          "name": "GitHub account - falcony45@gmail.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $json.github_owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.github_repo }}"
        },
        "filePath": "={{ $json.filepath }}",
        "fileContent": "={{ $json.workflow_json }}",
        "commitMessage": "=Add new workflow: {{$json.workflow_name}}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        592,
        432
      ],
      "id": "f4ed124c-49c1-4886-9ebe-5721b1f7adfa",
      "name": "Crear en Github",
      "webhookId": "1cbcf152-ce1d-4197-8d4c-b6b2b3c78200",
      "credentials": {
        "githubApi": {
          "id": "MXicbYfLcyhoBYEO",
          "name": "GitHub account - falcony45@gmail.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $json.github_owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.github_repo }}",
          "mode": "name"
        },
        "filePath": "={{ $json.filepath }}",
        "fileContent": "={{ $json.workflow_json }}",
        "commitMessage": "=Update workflow: {{$json.workflow_name}}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        592,
        224
      ],
      "id": "c88f1951-3347-45af-aa2d-b55a4568602f",
      "name": "Actualizar en Github",
      "webhookId": "362d599c-04f9-47f0-8823-7d62179f5211",
      "credentials": {
        "githubApi": {
          "id": "MXicbYfLcyhoBYEO",
          "name": "GitHub account - falcony45@gmail.com"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Obtener los Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener los Workflows": {
      "main": [
        [
          {
            "node": "Preparar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos": {
      "main": [
        [
          {
            "node": "Buscar duplicado por ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar duplicado por ID": {
      "main": [
        [
          {
            "node": "Filtrar duplicado por ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar duplicado por ID": {
      "main": [
        [
          {
            "node": "¿Archivo existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Archivo existe?": {
      "main": [
        [
          {
            "node": "¿Nombre cambio?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crear en Github",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Nombre cambio?": {
      "main": [
        [
          {
            "node": "Eliminar archivo viejo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crear en Github",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar archivo viejo": {
      "main": [
        [
          {
            "node": "Actualizar en Github",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4a077f71-f1dc-4268-9d66-5960a2b4af80",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-10-12T00:14:14.430Z",
      "updatedAt": "2025-10-12T00:14:14.430Z",
      "role": "workflow:owner",
      "workflowId": "YmdReqa7ERnBl8gs",
      "projectId": "0KR2Gq9Kds58xeIV"
    }
  ],
  "tags": []
}