workflows/yfkvpx5Bpe3gV8O1_whatsapp_automatizado.json
{
  "createdAt": "2025-10-09T02:24:34.175Z",
  "updatedAt": "2025-10-10T23:39:26.000Z",
  "id": "yfkvpx5Bpe3gV8O1",
  "name": "Whatsapp automatizado",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "estado-whatsapp",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -944,
        416
      ],
      "id": "666bf71f-0341-49eb-bf9e-8c074e78e21d",
      "name": "Revisar el estado de Whatsapp",
      "webhookId": "90605e6e-107b-4387-b53e-ea9e86327a1a"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Kevin",
        "remoteJid": "5217351842906@s.whatsapp.net",
        "messageText": "=Hola. Gracias por ponerte en contacto con nosotros. Pronto estaremos sabiendo más de tí",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -160,
        416
      ],
      "id": "caf6f50c-a878-4f1a-a15c-c2fcb9c80399",
      "name": "Enviar primer Whatsapp",
      "credentials": {
        "evolutionApi": {
          "id": "EFhsjS7SIfCf0ddO",
          "name": "Evolution account - Kevin personal number"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event.value.label.text }}",
                    "rightValue": "=Verificado",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "254a2d23-63f6-4f7f-b76f-e1f720f2dca9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Verificado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4d3725de-e4ee-4e5a-b47e-b5ea317d6b48",
                    "leftValue": "={{ $json.body.event.value.label.text }}",
                    "rightValue": "=Sin WhatsApp",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sin WhatsApp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -560,
        496
      ],
      "id": "c2898c1f-5438-472e-9f60-3ffd74a4c866",
      "name": "Estado de Whatsapp"
    }
  ],
  "connections": {
    "Revisar el estado de Whatsapp": {
      "main": [
        [
          {
            "node": "Estado de Whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estado de Whatsapp": {
      "main": [
        [
          {
            "node": "Enviar primer Whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6e951762-7d74-4579-b3b6-68ec434525a4",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-10-09T02:24:34.178Z",
      "updatedAt": "2025-10-09T02:24:34.178Z",
      "role": "workflow:owner",
      "workflowId": "yfkvpx5Bpe3gV8O1",
      "projectId": "0KR2Gq9Kds58xeIV"
    }
  ],
  "tags": []
}